<div class="page-header">
  <h3>Movie #<%= @movie.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Title</dt>
      <dd><%= @movie.title %></dd>


      <dt>Year</dt>
      <dd><%= @movie.year %></dd>


      <dt>Duration</dt>
      <dd><%= @movie.duration %></dd>


      <dt>Description</dt>
      <dd><%= @movie.description %></dd>


      <dt>Image url</dt>
      <dd><%= @movie.image_url %></dd>


      <dt>Director</dt>
      <dd><%= Director.find(@movie.director_id).name %></dd>

      <dt>Number of Characters</dt>
      <dd> <%= Character.where( {:movie_id => @movie.id} ).length %> </dd>

      <dt>List of Characters</dt>
      <dd> <% @movie.characters.pluck( :name ).each do |this_movie_character| %>
        <%= "#{this_movie_character}, " %>
        <% end %>
      </dd>

      <dt>Cast</dt>
      <dd> <% @movie.actors.pluck( :name ).each do |castmember| %>
        <%= "#{castmember}, " %>
        <% end %>
      </dd>

    </dl>

    <a href="/characters/add_existing/:<%= @movie.id %>" class="btn btn-success">Add New Character</a>

    <div class="btn-group btn-group-justified">

      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
